*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(230, 125, 33);
    
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20vh;
    color: white;
}

.header img {
    width: 15%;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 125, 33);
    height: 10vh;
    color: white;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li {
    padding: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav ul li a:hover {
    color: purple;
}

.conteudo1 img {
    width: 600px;
    height: 450px;
    position: relative;;top: 100px;right: 70px;
}
.conteudo {
    display: flex;
    justify-content: center;
    height: 105vh;
    position: relative;left: 300px;
}
.conteudo1 p {
    color: rgb(60, 23, 23);
    font-size: 20px;
    position: relative;left: 550px;bottom: 300px;
}

.conteudo2 img {
    position: relative; right: 45em;top: 600px;
}
.conteudo3{
    position: relative; right: 30em;top: 400px;
    height: 450px;
}
.conteudo3 img {
    width: 600px;
    height: 450px;
}
.rodape{
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content:center ;
    align-items: center;

}
.maerodape{
    display: flex;
    justify-content: bottom;
}
